@{ 
	var debug = "nothing's happened yet";
	var resultMessage="";
	var op="";
	var numOne="";
	var numTwo="";
	int result=0;
	if (IsPost) {
		op = Request["operator"];
		
		numOne = Request["first-number"];
		numTwo = Request["second-number"];
		
		result = numOne.AsInt() + numTwo.AsInt();
		<p>Answer: @result<p/>
		
		debug = "you have posted";
	}
}

<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>Forms Calculator</title>
	</head>
	<body>
		
		<div class='form-row'>
		  <label for='first-number'>Number One</label>
		  <input id='first-number' name='first-number' type='text'/>
		</div>
		<div class='form-row'>
		  <label for='operator'>Operator</label>
		  <input id='operator' name='operator' type='text' placeholder='+ - * / %'/>
		</div>
		<div class='form-row'>
		  <label for='second-number'>Number Two</label>
		  <input id='second-number' name='second-number' type='text'/>
		</div>
		
		<form method="POST" action="">
			<input type="Submit" name="Submit" value="Submit"/>
			<div>@resultMessage</div>
			<div>@debug</div>
		</form>
	</body>
</html>