@{
    ViewBag.Title = "Content";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div>This is a custom @ViewBag.Title section in the site layout</div>