@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Not Real Way<br />
    Fakesville, NR 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    143-234-6534
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@fakebusiness.com">Support@fakebusiness.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@fakebusiness.com">Marketing@fakebusiness.com</a>
</address>